.horizontal-scroll {
    overflow: auto;
    white-space: nowrap
}

.node {
    display: inline-block;
}

.center {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-inner > div {
    height: 50vh;
}

.divider-line {
    border-width: 5px;
    border-color: hsl(208, 92%, 54%)
}

 * {color: white;}

.category-header {
    font-weight: bold;
}

.card-small {
    display: inline-block;
    width: 300px;
    height: 300px;
}

.shadow-light {
    text-shadow: 0 0 5px black;
}

@media only screen and (min-width: 992px) {
    .form-responsive {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    .form-responsive {
        width: 75%;
    }

}