
.productsBox{
    margin-top: 5%;
}

h4{
    color: white;
}

.filtersHeadings, label{
    color: white;
}
.filters{
    border: 1px white solid;
    border-radius: 0.5rem;
    padding: 4%;
}

.card{
    margin-bottom: 12%;
}

.card-img-top{
    height: 60%;
    width: 100%;
}

#search-input {
    margin-right: 1rem;
}

.input-group {
    margin-bottom: 2rem;
}