<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand" id="logo">
            <div class="image">
                <img src="../logo.png" alt="Keyboarders">
            </div>
            <h2>Keyboarders<span>.</span></h2>
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false">
            <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link wrap-none">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/products" class="nav-link wrap-none">Products</a>
                </li>
                <li class="nav-item">
                    <a href="/about-us" class="nav-link wrap-none">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/account-setting" class="nav-link wrap-none">My Account</a>
                </li>
                <li class="nav-item">
                    <a href="/cart-page-v3" class="nav-link wrap-none">Cart</a>
                </li>
                <li>
                    <div class="input-group">
                        <input type="search" class="form-control rounded" id="search-input" placeholder="Search"
                               aria-label="Search" aria-describedby="search-addon"/>
                        <button type="button" class="btn btn-outline-primary" onclick="search()">Search</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>