<!DOCTYPE html>
<html>
<head>
  <title>Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../css/cartCS.css">
  <link rel="stylesheet" href="../css/main-style.css">
  <link rel="stylesheet" href="../css/custom.css">

</head>
<body>
  <%- include('./partials/nav.ejs') %>
  
      <h1>Cart</h1>

    <div class="row">
      <div class="col-md-12">
        <div>
        <div class="row align-items-center">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="ph">

                </div>
          </div>

        </div>

      </div>

      
      <div class="col-md-4">
  
        <div class="price-box box" >
            <div class="ph1">
                <p class="t">total :</p>
                <label class="prodprice"><p id="total-price"></p></label>
          <button type="button" class="btn btn-primary checkout-btn" id="create-new-order">Checkout</button>
        </div>
    </div>
      </div>
    </div>
  </div>
</div>


<!-- script -->
 <script src="../js/cartjs.js"></script>
 <script src="../js/orders.js"></script>


</body>


</footer>
</html>