<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/main-style.css">
    <link rel="stylesheet" href="./css/custom.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>



    <title>Keyboarders</title>
    <link rel="icon" href="./logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <%- include('./partials/nav.ejs') %>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
</header>

<div class="center">
    <div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner rounded-4">
                <a href="/product-generic">
                    <div class="carousel-item active">
                        <img src="./products/corsa.png" class="d-block w-100 img-cover" alt="corsa">
                        <a href="/product-generic">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="shadow-light">Corsa</h5>
                                <p class="shadow-light">Available Now</p>
                            </div>
                        </a>
                    </div>
                </a>
                <a href="/product-generic">
                    <div class="carousel-item">
                        <img src="./products/box75.png" class="d-block w-100 img-cover" alt="box75">
                        <a href="/product-generic">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="shadow-light">Box75</h5>
                                <p class="shadow-light">Pre-Order</p>
                            </div>
                        </a>
                    </div>
                </a>
                <a href="/product-generic">
                    <div class="carousel-item">
                        <img src="./products/charcoal.png" class="d-block w-100 img-cover" alt="mode">
                        <a href="/product-generic">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="shadow-light">Charcoal Keycaps</h5>
                                <p class="shadow-light">Available Now</p>
                            </div>
                        </a>
                    </div>
                </a>

            </div>
            <button style="height: 100%" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button style="height: 100%" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    </div>
    <br>
    <div>
    <h2>New Arrivals</h2>
    <hr class="divider-line rounded">
    <div class="horizontal-scroll">
        <a href="/product-generic">
            <div class="card card-small btn btn-light rounded-4">
                <div style="height: 75%">
                    <img class="card-img-top img-cover rounded-4" src="./products/box75.png" alt="box75">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Box75</h5>
                    <h6 class="card-text">$100</h6>
                </div>
            </div>
        </a>
        <a href="/product-generic">
            <div class="card card-small btn btn-light rounded-4">
                <div style="height: 75%">
                    <img class="card-img-top img-cover rounded-4" src="./products/type%20k.jpg" alt="box75">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Type K</h5>
                    <h6 class="card-text">$100</h6>

                </div>
            </div>
        </a>
        <a href="/product-generic">
            <div class="card card-small btn btn-light rounded-4">
                <div style="height: 75%">
                    <img class="card-img-top img-cover rounded-4" src="./products/jwk.jpg" alt="box75">

                </div>
                <div class="card-body">
                    <h5 class="card-title">JWK Switches</h5>
                    <h6 class="card-text">$100</h6>
                </div>
            </div>
        </a>
        <a href="/product-generic">
            <div class="card card-small btn btn-light rounded-4">
                <div style="height: 75%">
                    <img class="card-img-top img-cover rounded-4" src="./products/mode.png" alt="box75">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Tomorrow Keycaps</h5>
                    <h6 class="card-text">$100</h6>
                </div>
            </div>
        </a>
        <a href="/product-generic">
            <div class="card card-small btn btn-light rounded-4">
                <div style="height: 75%">
                    <img class="card-img-top img-cover rounded-4" src="./products/corsa.png" alt="box75">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Corsa</h5>
                    <h6 class="card-text">$100</h6>
                </div>
            </div>
        </a>
        <a href="/product-generic">
            <div class="card card-small btn btn-light rounded-4">
                <div style="height: 75%">
                    <img class="card-img-top img-cover rounded-4" src="./products/cherryRed.jpg" alt="box75">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cherry MX Red Switches</h5>
                    <h6>$100</h6>
                </div>
            </div>
        </a>
    </div>
    
    </div>
</div>
</body>
</html>